/*顶部样式*/

body{
	background:url(../../image/web_image/%E6%B4%BB%E5%8A%A8%E6%8E%A8%E8%8D%90%E8%83%8C%E6%99%AF.png) center }
.top_back{
	height:100px;
	background:#00ACFF;
	overflow:hidden;
	box-shadow:0 1px 2px #ccc;}
.top{
    margin:0 auto;
	width:1100px;
	height:100px;
	background:#00ACFF;} 
.a{
	float:left;
	margin:30px 50px;
	font-size:26px;
	line-height:40px;
	color:#fff;}
.b{
	float:right;
	margin:30px 50px;
	line-height:40px;
	color:#FFF;}
	.b a{
		color:#fff;}
	.b a:hover{
		color:#333;}
		
/*封面样式*/
.head{
	margin:15px auto;
	width:1100px;
	height:340px;}	
.cover{
	float:left;
	width:600px;
	height:340px;
	background:#ccc;}
	.cover img{
		height:100%;
		width:100%;}
.summary{
	float:left;
	width:200px;
	height:340px;
	background:#364247;
	padding:0 30px;
	overflow:hidden;}
	.summary ul li{
		height: 113px;
		border-bottom: 1px solid #414f55;
		overflow: hidden;
		line-height: 113px;}
	.summary ul li span {
		color: #909b9e;
		font-size: 14px;
		line-height: 24px;
		margin-right: 15px;}
	ul li em{
		font-size: 24px;
		color: #ffffff;}
.head_handle{
	float:left;
	width:240px;
	height:340px;}
	.head_handle .handle_1{
		color:#CCC;
		display: block;
		height: 117px;
		padding-top: 40px;
		text-align: center;
		background:#4d5a61;}
		.head_handle .handle_1:hover{
			color:#fff;}
		.handle_1 i{
			margin:5px auto;
			display:block;
			height:32px;
			width:30px;}
			#read_form i{
				background:url(../../image/web_image/%E6%8A%A5%E5%90%8D%E8%A1%A8%E5%9B%BE%E6%A0%87.png) no-repeat;
				background-position:0 0;}
	
	.head_handle .handle_2{
		height: 183px;
		width: 100%;
		background: #97ddff;
		text-align: center;
		color: #fff;
		font-size: 24px;
		line-height: 183px;
		cursor: pointer;
		display: block;}
 	    .head_handle .handle_2:hover{
			background:#00acff;}


/*主体部分样式*/
.body{
	margin:15px auto;
	width:1100px;}
.main{
	width: 805px;
	float: left;}
.page{
	margin-bottom:10px;
	background:#fff;
	padding:10px 30px;
	border:1px solid #f2f2f2;
	-webkit-box-shadow: 0 0 3px #ccc;
	-moz-box-shadow: 0 0 3px #ccc;
	box-shadow:0 0 3px #ccc;}
	.page strong,.board strong{
		height:30px;
		line-height:30px;
		font-size:18px;
		color:#888;}
	.page p{
		line-height:20px;
		margin:10px 40px;
		overflow:hidden;}
	.more{
		margin:0 0 -8px 20px;
		height:20px;
		width:23px;
		background:url(../../image/web_image/%E4%B8%8B%E6%8B%89%E8%8F%9C%E5%8D%95%E7%AE%AD%E5%A4%B42.png) no-repeat;
		background-position:0 -25px;
		display:inline-block;}
		
/*table当前报名表样式*/
.table{
	margin:10px 0;}	
.table li{
	height:31px;
	padding:2px;
	margin:1px 0;}
	.table li:nth-of-type(odd){
	    background:#E6F7FF;}
	.table li:nth-of-type(even){
	    background:#BFEBFF;}
.table li:first-child,.table li:last-child{
    background:#efefef;
	color:#999;}

.page_2 li span{
	float:left;
	display:block;
	line-height:31px;
	height:31px;
	text-align:center;
	border-right:1px solid #fff;}
	.page_2 span:nth-child(1){
		width:50px;}
	.page_2 span:nth-child(2){
		width:80px;}
	.page_2 span:nth-child(3){
		width:50px;}
	.page_2 span:nth-child(4){
		width:130px;}
	.page_2 span:nth-child(5){
		width:130px;}
	.page_2 span:nth-child(6){
		width:80px;}
	.page_2 span:nth-child(7){
		width:200px;
		border-right:0;}
	.page_2 span:nth-child(7) a,.handle a{
		color:#999;}
	.page_2 span:nth-child(7) a:hover,.handle a:hover{
		color:#00acff;}
.handle{
	margin-top:20px;}
	.handle li a{
	    margin:0 10px;}
    .handle li:first-child{
		float:left;}
	.handle li:last-child{
		float:right;}	
.page_2 input[type=checkbox]{
	height:33px;
	vertical-align: middle;
	cursor:pointer;}


.right{
	float:right;
	width:280px;}
.board{
	padding:10px 20px;
	margin-bottom:10px;
	width:240px;
	height:150px;
	border:1px solid #f2f2f2;
	box-shadow:0 0 3px #ccc;
	background:#fff;}
	.board a{
		margin-left:145px;}
	.board textarea{
		padding:10px;
		height:80px;
		width:210px;
		margin:5px auto;
		display:block;
		border:1px solid #fff;
		line-height:20px;}

.app_form{
	z-index:11;
	position:fixed;
	top:50%;
	margin-top:-300px;
	left:50%;
	margin-left:-270px;
	padding:10px;
	border:1px solid #f2f2f2;
	box-shadow:0 0 3px #ccc;
	width:520px;
	height:580px;
	background:#fff;}
	.app_form strong{
		display:block;
		width:500px;
		margin:5px auto;
		line-height:26px;
		font-size:18px;
		text-align:center;}
	.app_form strong a{
		float:right;
		font-size:24px;}





